# Basket Creation

In [1]:
%load_ext autoreload
%autoreload 2

In [6]:
import pandas as pd
from ..coffee_basket_analyzer.services.basket_service import BasketService

ImportError: attempted relative import with no known parent package

In [4]:
sales = pd.read_csv("../data/interim/selected_sales_features.csv")
sales.head()

,transaction_date,transaction_time,transaction_qty,store_id,product_type
0,2023-01-01,07:06:11,2,5,Gourmet brewed coffee
1,2023-01-01,07:08:56,2,5,Brewed Chai tea
2,2023-01-01,07:14:04,2,5,Hot chocolate
3,2023-01-01,07:20:24,1,5,Drip coffee
4,2023-01-01,07:22:41,2,5,Brewed Chai tea

To create a basket that is usuable to infer `Association Rules` from the `Coffee Shop Sales` data set, we need to spot distinct transactions according to `transaction_time`, `transaction_date` and `store_id`